<main class="min-h-screen bg-gray-800 text-gray-600">
  <div class="max-w-4xl mx-auto p-6 bg-gray-600 shadow-md rounded-lg ">
    <div class="flex items-center space-x-4">
      <img [src]="(user$ | async)?.avatar"
           alt="User Avatar"
           class="w-24 h-24 rounded-full object-cover border-4 border-blue-500">

      <div>
        <h1 class="text-white text-2xl font-semibold">
          {{ (user$ | async)?.first_name }} {{ (user$ | async)?.last_name }}
        </h1>

        <p class="text-white">
          <strong>Почта:</strong> {{ (user$ | async)?.email }}
        </p>

        <p class="text-white" *ngIf="(user$ | async)?.company">
          <strong>Компания:</strong> {{ (user$ | async)?.company?.name }}
        </p>

        <p class="text-white">
          <strong>Телефон:</strong> {{ (user$ | async)?.phone_number }}
        </p>

        <p class="text-white">
          <strong>Зарегистрирован:</strong> {{ (user$ | async)?.registration_date | date:'longDate' }}
        </p>

        <p class="text-yellow-500">
          <strong>Рейтинг:</strong> {{ (user$ | async)?.rating }} ★
        </p>
      </div>
    </div>
  </div>

  <div class="max-w-4xl mx-auto p-6 bg-gray-600 shadow-md rounded-lg mt-6 flex flex-col">
    <h2 class="text-white text-xl font-semibold">Объявления пользователя</h2>
    <app-form-adv [isUserProfile]="true" [authorId]="authorId"></app-form-adv>
  </div>
</main>
