<main class="min-h-screen bg-gray-800 text-gray-600">
    <!-- User Profile Container -->
    <div class="max-w-4xl mx-auto p-6 bg-gray-600 shadow-md rounded-lg ">
      <div class="flex items-center space-x-4">
        <!-- Avatar Section -->
        <img [src]="(user$ | async)?.[0]?.avatar"
     alt="User Avatar"
     class="w-24 h-24 rounded-full object-cover border-4 border-blue-500">

  
        <!-- User Info Section -->
        <div>
          <!-- Name -->
          <h1 class="text-white text-2xl font-semibold">
            {{ (user$ | async)?.[0]?.first_name }} {{ (user$| async)?.[0]?.last_name }}
          </h1>
  
          <!-- Email -->
          <p class="text-white">
            <strong>Почта:</strong> {{ (user$ | async)?.[0]?.email }}
          </p>
  
          <!-- Company -->
          <p class="text-white" *ngIf="(user$ | async)?.[0]?.company">
            <strong>Компания:</strong> {{ (user$ | async)?.[0]?.company?.name }}
          </p>
  
          <!-- Phone Number -->
          <p class="text-white">
            <strong>Телефон:</strong> {{ (user$ | async)?.[0]?.phone_number }}
          </p>
  
          <!-- Registration Date -->
          <p class="text-white">
            <strong>Зарегистрирован:</strong> {{ (user$ | async)?.[0]?.registration_date | date:'longDate' }}
          </p>
  
          <!-- Rating -->
          <p class="text-yellow-500">
            <strong>Рейтинг:</strong> {{ (user$ | async)?.[0]?.rating }} ★
          </p>
        </div>
      </div>
    </div>
  
    <!-- User Ads Section -->
    <div class="max-w-4xl mx-auto p-6 bg-gray-600 shadow-md rounded-lg mt-6 flex flex-col">
      <h2 class="text-white text-xl font-semibold">Объявления пользователя</h2>
        <app-form-adv [isUserProfile]="true" [authorId]="authorId"></app-form-adv>
    </div>
    
    
  
  </main>
  