<!-- Кнопки -->
<div class="flex items-center space-x-4">
    <!-- Если пользователь не авторизован -->
    <div *ngIf="!(isloggedIn$ | async)">
        <a routerLink="/auth/login" class="text-blue-600 hover:underline font-medium">Войти</a>
    </div>

    <!-- Если пользователь авторизован -->
    <div *ngIf="isloggedIn$ | async" class="relative">
        <!-- Главное меню -->
        <div class="flex items-center space-x-4 cursor-pointer" (click)="toggleDropdown()">
            <!-- Аватар -->
            <img 
                [src]="(currentUser$ | async)?.[0]?.avatar" 
                alt="Avatar" 
                class="h-10 w-10 rounded-full border-2 border-blue-500 shadow-lg" />

    
            <!-- Имя и фамилия -->
            <div>
                <div *ngIf="(currentUser$ | async) as users">
                    <span class="font-medium text-white">{{ users[0]?.first_name }} {{ users[0]?.last_name }}</span>
                </div>
            </div>

        </div>
    
        <!-- Выпадающее меню -->
        <div *ngIf="isDropdownOpen" class="absolute right-0 mt-2 w-56 bg-gray-800 shadow-md border border-gray-300 rounded-lg z-50">

            <!-- Дополнительные кнопки -->
            <div class="px-4 py-2">
                <button
                    class="block w-full text-left text-sm text-white py-2 hover:bg-black rounded-lg" (click)="goToMyProfile()">
                    Мой профиль
                </button>
                <button 
                    class="block w-full text-left text-sm text-white py-2 hover:bg-black rounded-lg">
                    Сообщения
                </button>
                <button 
                    class="block w-full text-left text-sm text-white py-2 hover:bg-black rounded-lg">
                    Жалобы
                </button>
            </div>
            <div class="px-4 py-2 block w-full text-left text-sm text-yellow-500 py-2 hover:bg-yellow rounded-lg">
                Рейтинг: {{ (currentUser$ | async)?.[0]?.rating }} ★
            </div>

            <!-- Кнопка выхода -->
            <div class="px-4 py-2 border-t border-gray-200">
                <button 
                    class="block w-full text-left text-sm text-red-600 py-2 hover:bg-red-100 rounded-lg"
                    (click)="logout()">
                    Выйти
                </button>
            </div>
        </div>
    </div>
        <!-- Разместить объявление -->
        <button *ngIf="canShowButton"
            (click)="goToCreateAd()"
                class="bg-blue-500 text-white px-4 py-2 rounded-lg shadow-md hover:bg-blue-600">
                Разместить объявление
        </button>

</div>
